.js-subcats-selected-wrapper {
    margin-top: 8px;
}

.js-subcats-selected {
    list-style: none;
    margin: 0;
    padding: 0;
}

.js-subcats-selected-item {
    display: flex;
    align-items: center;
    padding: 4px 8px;
    margin-bottom: 3px;
    background: #f5f5f5;
    border: 1px solid #d6d6d6;
}

.js-subcats-move {
    margin-right: 4px;
    padding: 0 6px;
    line-height: 18px;
    font-size: 11px;
}

.js-subcats-selected-item .label {
    margin-left: 4px;
    flex: 1;
}
